<div class="row">
  <div class="col s3 left-sitebar">
    <%= render "layouts/left_sitebar" %>
  </div>
  <div class="col s6 offset-s3 list-question">
    <% @supports.list_question.each do |question| %>
      <div class="card">
        <div class="row">
          <div class="col s1 avatar">
            <img src="https://cdn.pixabay.com/photo/2016/08/20/05/38/avatar-1606
              916_960_720.png" alt="avatar" class="circle">
          </div>
          <div class="col s11 padding-left-20">
            <p>
              <%= link_to question.user.username,"#" %>
              <span class="space"></span>
              <span><%= time_ago_in_words question.created_at %></span>
            </p>
            <p><%= question.content %>
              <span class="chip"><%= question.category.ancestors[0].name %> -
                <%= question.category.name %></span>
            </p>
            <p class="group-count">
              <i class="material-icons"><%= t "text.visibility" %></i>
              <strong><%= question.vote_count %></strong>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col s3 right-sitebar">
    <%= render "layouts/right_sitebar" %>
  </div>
</div>
