<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <div class="header-admin">
      <div class="logo">
        <a href="#"><%= t "administrator" %></a>
      </div>
    </div>

    <a class="mobile"><%= t "menu" %></a>

    <div id="container">

      <div class="sidebar">
        <ul id="nav">
          <li><a href="#"><i class="material-icons">account_circle
          </i><%= t "user" %></a></li>
          <li><a href="#"><i class="material-icons">reorder
          </i><%= t "category" %></a></li>
          <li><a href="#"><i class="material-icons">help_outline
          </i><%= t "question" %></a></li>
          <li><a href="#"><i class="material-icons">question_answer
          </i><%= t "answer" %></a></li>
          <li><a href="#"><i class="material-icons">check_circle
          </i><%= t "vote" %></a></li>
          <li><a href="#"><i class="material-icons">add_alert
          </i><%= t "notification" %></a></li>
          <li><a href="#"><i class="material-icons">report_problem
          </i><%= t "report" %></a></li>
          <li><a href="#"><i class="material-icons">timeline
          </i><%= t "statistic" %></a></li>
        </ul>

      </div>

      <div class="content">
        <h1><%= t "dashboard" %></h1>

        <div id="box">
         <div class="box-top"></div>
         <div class="box-panel"></div>
        </div>

      </div>

    </div>
  </body>
</html>
