<table class="striped">
  <thead>
    <tr>
      <th class="gold-medal">
        <%= image_tag "gold-medal.png" %><br>
        <span><%= t "gold" %></span>
      </th>
      <th class="silver-medal">
        <%= image_tag "silver-medal.png" %><br>
        <span><%= t "silver" %></span>
      </th>
      <th class="bronze-medal">
        <%= image_tag "bronze-medal.png" %><br>
        <span><%= t "bronze" %></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= t "gold_score" %></td>
      <td><%= t "silver_score" %></td>
      <td><%= t "bronze_score" %></td>
    </tr>
  </tbody>
</table>
