<ul id="dropdown1" class="dropdown-content">
  <li><%= link_to t("link.profile"), "#" %></li>
  <li><%= link_to t("link.sign_out"), "#" %></li>
</ul>
<nav class="header">
  <div class="nav-wrapper row">
    <div class="col m2">
      <%= link_to t("text.logo"),root_path, class: "brand-logo" %>
    </div>
    <div class="col m6">
      <form>
        <div class="input-field">
          <input id="search" type="search" required>
          <label class="label-icon" for="search">
            <i class="material-icons"><%= t "search" %></i>
          </label>
          <i class="material-icons"><%= t "close" %></i>
        </div>
      </form>
    </div>
    <ul class="right hide-on-med-and-down col m4">
      <li><a class="waves-effect waves-light btn create_question">
        <%= t "button.create" %></a></li>
      <li class="avatar">
        <a class="dropdown-button" href="#" data-activates="dropdown1">
          <img src="https://cdn.pixabay.com/photo/2016/08/20/05/38/avatar-16069
            16_960_720.png" alt="avatar" class="circle">
        </a>
      </li>
    </ul>
  </div>
</nav>
